CLIENT_ID=123456789 // Die Application's ID die man beim Bot unter "www.discord.com/developer" findet.
GUILD_ID=123456789 // Die Gilden/Server ID (Developer Mode Anschalten und auf das Servericon Rechtsklicken -> Copy Guild ID)
TOKEN=randomtokenthathasnumbersandstrings123___123 // Der Bot Token den man beim Bot unter "www.discord.com/developer" findet - IMMER GEHEIMHALTEN!.